.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes shiftleft {
  to {
    transform: translateX(-3%);
  }
}
@keyframes shiftright {
  to {
    transform: translateX(3%);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.life-cell-dead {
  color: #282c34;
  background-color: #282c34;
  border: 1px slategrey dotted;
  width: 20px;
  height: 20px;
}
.life-cell-alive {
  color: #7983ff;
  background-color: #7983ff;
  border-radius: 77% 12% 77% 0% / 77% 12% 77% 0%;
  /* animation: shiftleft 1s linear infinite; */
  /* animation: rotate 1s linear infinite; */
  /* animation: shiftright 1s linear infinite; */
  transition: transform 0.3s ease;
  transform: skew(15deg);
  transform: skewX(15deg);
  /* transform: skewY(-50deg);
  transform: skew(90deg, -50deg); */

  width: 20px;
  height: 20px;
}

.life-board {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  overflow: hidden;
}
.life-rules {
  width: 500px;
  font-size: medium;
  color: #f6f6f6;
  text-align: left;
}
.life-rules-label {
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.777);
  border-radius: 20px;
  transition: all 0.3s;
  margin-right: 1rem;
  margin-left: 1rem;
}
.switch::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left: 20px;
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.checkbox {
  display: none;
}

.tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tool-bar-label {
  font-size: large;
}
.tool-bar-label-right {
  font-size: large;
  text-align: right;
}

.media-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.media-button {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: slategrey;
  color: lightblue;
}

.media-button .is-playing {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: lightblue;
  color: slategrey;
}

.death-button {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: slategrey;
  color: lightblue;
}

.random-button {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: slategrey;
  color: lightblue;
}
