@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --living: #7983ff;
  --dead: #282c34;
  --app_bkg: #282c34;
  --app_color: white;
  --cell_border: slategrey;
  --switch_on: #7983ff;
  --switch_btn: white;
  --switch_off: rgba(0, 0, 0, 0.777);
  --rule_text: #f6f6f6;
  --score_bkg: rgba(0, 0, 0, 0.777);
  --score_text: #f6f6f6;
  --media_btn_bkg: slategrey;
  --media_btn_color: lightblue;
}

.App {
  text-align: center;
  background-color: var(--app_bkg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--app_color);
}

@keyframes shiftleft {
  to {
    transform: translateX(-3%);
  }
}
@keyframes shiftright {
  to {
    transform: translateX(3%);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.life-cell-dead {
  color: var(--dead);
  background-color: var(--dead);
  border: 1px var(--cell_border) solid;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.life-cell-alive {
  color: var(--living);
  background-color: var(--living);
  border-radius: 77% 12% 77% 0% / 77% 12% 77% 0%;
  /* animation: shiftleft 1s linear infinite; */
  /* animation: rotate 1s linear infinite; */
  /* animation: shiftright 1s linear infinite; */
  transition: transform 0.3s ease;
  transform: skew(15deg);
  transform: skewX(15deg);
  /* transform: skewY(-50deg);
  transform: skew(90deg, -50deg); */
  width: 20px;
  height: 20px;
}

.life-board {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  overflow: hidden;
}
.life-rules {
  width: 500px;
  font-size: medium;
  color: var(--rule_text);
  text-align: left;
}
.life-rules-label {
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: var(--switch_off);
  border-radius: 20px;
  transition: all 0.3s;
  margin-right: 1rem;
  margin-left: 1rem;
}
.switch::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--switch_btn);
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left: 20px;
}
.checkbox:checked + .switch {
  background-color: var(--switch_on);
}
.checkbox {
  display: none;
}

.tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tool-bar-score {
  font-family: "Press Start 2P", cursive;
  background-color: var(--score_bkg);
  color: var(--score_text);
  border-radius: 5%;
  letter-spacing: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: x-small;
  text-align: left;
}
.tool-bar-label-right {
  font-size: large;
  text-align: right;
}

.media-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.media-button {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--media_btn_bkg);
  color: var(--media_btn_color);
}

.media-button .is-playing {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--media_btn_color);
  color: var(--media_btn_bkg);
}

.death-button {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--media_btn_bkg);
  color: var(--media_btn_color);
}

.random-button {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--media_btn_bkg);
  color: var(--media_btn_color);
}
