.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.life-cell-dead {
  color: #282c34;
  background-color: #282c34;
  border: 1px slategrey dotted;
  width: 20px;
  height: 20px;
}
.life-cell-alive {
  color: blue;
  background-color: blue;
  width: 20px;
  height: 20px;
}

.life-board {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.switch::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left: 20px;
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.checkbox {
  display: none;
}

.tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.tool-bar-label {
  font-size: large;
}

.media-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.media-button {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  color: white;
  opacity: 20%;
}

.media-button .is-playing {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  color: white;
  opacity: 77%;
}
